.description {
  font-size: 18px;
  margin-top: 35px; }

.additional-info {
  font-size: 15px;
  margin-top: 15px;
  display: inline-flex; }

.starsNumber {
  position: inherit;
  top: 18px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px; }

.review-comment {
  width: 100%; }

.review_window {
  height: 100px;
  width: 100%;
  margin-top: 30px;
  background-color: white;
  display: flex;
  position: relative;
  border-radius: 10px;
  padding-right: 10px; }
  .review_window .leave_comment_button {
    right: 20px;
    height: 60%;
    margin-top: 12%; }
  .review_window .rating {
    margin: auto; }
  .review_window div {
    display: grid;
    height: inherit; }
  .review_window h3 {
    margin: auto; }
  .review_window textarea {
    font-size: 15px;
    resize: none; }
  .review_window button {
    background-color: #48cfad;
    color: white; }
